.index_form {
    padding: 20px;
}


.show {
    display: block;
}


.show_form {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

